<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta content="address=no" name="format-detection">
    <meta content="origin" name="referrer">
    <title>游戏匹配</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
        crossorigin="anonymous">
    <style>
        [v-cloak] {
            visibility: hidden;
        }
    </style>
    <script type="module" src="match.js"></script>
</head>

<body>
    <div id="app" v-cloak>
        <div class="d-flex justify-content-center mt-1">
            <label type="button" class="btn btn-sm btn-info mx-2 position-relative overflow-hidden">
                <input type="file" ref="file" accept=".json" @change="onImport"
                    class="position-absolute w-25 h-25 invisible" />
                <i class="bi bi-upload"></i>
                导入</label>
            <label type="button" class="btn btn-sm btn-secondary mx-2" @click.prevent="onExport">
                <i class="bi bi-download"></i>
                导出</label>
            <label type="button" class="btn btn-sm btn-primary mx-2" @click.prevent="onUpload">
                <i class="bi bi-cloud-upload"></i>
                上传</label>
        </div>
        <div class="d-flex justify-content-center flex-wrap">
            <div class="mr-md-5 mt-2">
                <v-list :list="leftList" ref="left" @change="onLeftChange"></v-list>
            </div>
            <div class="ml-md-5 mt-2">
                <v-list :list="rightList" ref="right" @change="onRightChange"></v-list>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <button type="button" class="btn btn-sm btn-primary mx-2" @click.prevent="match3v3">3 V 3</button>
            <button type="button" class="btn btn-sm btn-success mx-2" @click.prevent="match5v5">5 V 5</button>
            <button type="button" class="btn btn-sm btn-warning mx-2" @click.prevent="reset">重置</button>
        </div>
        <div v-if="queueList.length" class="d-flex justify-content-center align-items-start flex-wrap">
            <ul v-for="(queue,index) in queueList"
                class="list-unstyled text-center border border-success rounded overflow-hidden mt-2 mx-2">
                <li class="px-3 py-1" :style="{backgroundColor:getQueueColor(index)}" aria-current="true">队伍
                    {{index+1}}</li>
                <li class="px-3 py-1 border-top border-success" v-for="row in queue">{{row.ID}}({{row.Job}})</li>
            </ul>

            <ul v-if="otherList.length"
                class="list-unstyled text-center border border-danger rounded overflow-hidden mt-2 mx-2">
                <li class="px-3 py-1 text-danger" aria-current="true">轮空</li>
                <li class="px-3 py-1 border-top border-danger" v-for="row in otherList">{{row.ID}}({{row.Job}})</li>
            </ul>
        </div>
    </div>
    <script type="text/template" id="template-list">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">游戏ID</th>
                    <th scope="col">职业心法</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row,index) in rows" :style="{backgroundColor:getRowColor(row.ID)}">
                    <td style="white-space: nowrap;">
                        <div class="btn btn-sm rounded-circle text-primary" @click="add(index)"><i class="bi bi-plus-circle-fill"></i></div>
                        <div class="btn btn-sm rounded-circle text-danger" @click="remove(index)"><i class="bi bi-trash-fill"></i></div>
                    </td>
                    <td :class="{'border-primary':matchMap.has(row.ID)}" ><input type="text" class="form-control form-control-sm" v-model="row.ID" @change="emitChange"/></td>
                    <td><input type="text" class="form-control form-control-sm" v-model="row.Job" @change="emitChange" /></td>
                </tr>
            </tbody>
        </table>
        <!-- <div v-if="alert" class="alert alert-danger" role="alert">{{alert}}</div> -->
    </script>
</body>

</html>